@font-face {
  font-family: 'Oz-Handicraft';
  src: url(/fonts/Oz-Handicraft.ttf);
}

@font-face {
  font-family: 'Propisi';
  src: url(/fonts/Propisi.ttf);
}

@font-face {
  font-family: 'Mogul Futuris';
  src: url(/fonts/Mogul-Futuris.ttf);
}

@font-face {
  font-family: 'BadScript Regular';
  src: url(/fonts/BadScript-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oz-Handicraft', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 28px !important;
}

.swiper-pagination-bullet {
  background: transparent !important;
  border: 1px solid #fff !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.swiper-pagination-bullet:hover {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .hero .swiper-button-next {
    right: 10% !important;
  }

  .hero .swiper-button-prev {
    left: 10% !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
